@model AutomapperTest.ViewModel.UserViewModel
@{
    ViewBag.Title = "Details";
}
<h2>@ViewBag.Title</h2>


<label asp-for="Name" class="col-md-3"></label>
<div class="col-md-9">
    <input asp-for="Name" class="form-control" readonly />
</div>
    
<label asp-for="Email" class="col-md-3"></label>
<div class="col-md-9">
    <input asp-for="Email" class="form-control" readonly />
</div>

<a asp-action="Index" asp-controller="Home">Back to the list</a>